body {
    font-family: 'Inconsolata', monospace;
    position: relative;
    height: 100%;
}

html {
    height: 100%;
}

.header-div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header
{
    font-size: 100px;
    font-family: 'Orelega One', cursive;
}
.filter
{
    opacity: 50%;
    background-color: black;
    width: 519px;
    height: 333px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.holder {
    text-align: center;
    position: absolute;
    background: url('img/geese-d.jpg') center center/cover no-repeat;
    width: 519px;
    height: 333px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.timer {
    font-size: 35px;
    position: absolute;
    top: 25px;
    right: 45px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.task {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.score {
    position: absolute;
    top: 25px;
    left: 45px;
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.button {
    margin-top: 8px;
}

input {
    border: 0;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(29, 29, 29);
}

button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: rgb(142, 180, 60);
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

.feedback {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}